.designluch {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 2.5rem;
  font-weight: 600;
}
.logo,
.navbar-brand {
  display: flex;
  flex-direction: row;
}
.logo {
  width: 8.813rem;
  height: 2.25rem;
  align-items: center;
  justify-content: center;
}
.navbar-brand {
  align-items: flex-start;
  justify-content: flex-start;
}
.about {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 2rem;
  font-weight: 600;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.navbar-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-xs);
}
.features {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 2rem;
  font-weight: 600;
}
.button {
  border-radius: var(--br-31xl);
  background: linear-gradient(180deg, #3e90f0, #1b6ecf);
  border: 1px solid var(--color-gray-500);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-5xl);
}
.button,
.navbar-menu,
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row {
  align-self: stretch;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xl);
}
.navbar-menu {
  overflow: hidden;
  justify-content: flex-start;
  gap: 0 2rem;
  font-size: var(--healine-6-size);
}
.navbar-content,
.navbar-logo-left,
.navbarcontainer {
  width: 75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar-logo-left,
.navbarcontainer {
  justify-content: center;
}
.navbar-logo-left {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  background-color: var(--dark-level-3);
  width: 90rem;
  overflow: hidden;
  align-items: flex-start;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
}
.frame-child,
.frame-child2,
.frame-item {
  border-bottom: 0.7px solid var(--color-white);
}
.frame-child2,
.frame-item {
  border-left: 0.7px solid var(--color-white);
}
.frame-child2 {
  background-color: var(--color-gray-600);
}
.frame-container,
.frame-group,
.frame-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 0;
}
.frame-container,
.frame-parent1 {
  z-index: 1;
}
.frame-parent1 {
  z-index: 2;
}
.frame-child21 {
  background-color: var(--color-gray-600);
  border-bottom: 0.7px solid var(--color-white);
}
.frame-parent2,
.frame-parent3,
.frame-parent4,
.frame-parent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.frame-parent3,
.frame-parent4,
.frame-parent5 {
  z-index: 4;
}
.frame-parent4,
.frame-parent5 {
  z-index: 5;
}
.frame-parent5 {
  z-index: 6;
}
.frame-child53 {
  border-left: 0.7px solid var(--color-white);
}
.frame-parent6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 7;
}
.ellipse-div,
.frame-parent {
  margin: 0 !important;
  position: absolute;
}
.ellipse-div {
  width: 86.388rem;
  top: calc(50% - 691.1px);
  left: calc(50% - 691.1px);
  border-radius: 50%;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(22, 22, 24, 0),
    #161618 46.59%
  );
  filter: blur(216.88px);
  height: 86.388rem;
  z-index: 8;
}
.frame-parent {
  top: calc(50% - 391px);
  left: calc(50% - 347px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.5;
  z-index: 0;
}
.coding-fascinates-us {
  margin: 0;
}
.coding-fascinates-us-however-container {
  align-self: stretch;
  position: relative;
  font-size: var(--healine-1-size);
  letter-spacing: -0.03em;
  line-height: 4.5rem;
  text-align: center;
  z-index: 0;
}
.not-really-actually {
  position: relative;
  line-height: 100%;
  font-weight: 500;
}
.hah-wrapper,
.not-really-actually-wrapper {
  margin: 0 !important;
  position: absolute;
  top: -1rem;
  left: 54rem;
  border-radius: var(--br-xs) var(--br-xs) var(--br-xs) var(--br-11xs);
  background-color: var(--brand-level-2);
  border: 1px solid var(--color-gray-500);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  z-index: 1;
  color: var(--color-white);
}
.hah-wrapper {
  top: 1.938rem;
  left: 8rem;
  border-radius: var(--br-xs) var(--br-xs) var(--br-11xs) var(--br-xs);
  background-color: var(--accent-purple);
  z-index: 2;
}
.transform-your-code-container {
  align-self: stretch;
  position: relative;
  font-size: var(--healine-6-size);
  letter-spacing: -0.03em;
  line-height: 2rem;
  font-weight: 600;
  color: var(--light-level-4);
  text-align: center;
  z-index: 3;
}
.button-primary {
  border-radius: var(--br-31xl);
  background: linear-gradient(180deg, #3e90f0, #1b6ecf);
  border: 1px solid var(--color-gray-500);
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-13xl);
}
.button-primary,
.button-secondary,
.row1 {
  display: flex;
  flex-direction: row;
}
.button-secondary {
  border-radius: var(--br-31xl);
  border: 1px solid var(--light-level-1);
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-13xl);
}
.row1 {
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
  gap: 0 0.625rem;
  z-index: 4;
  font-size: var(--healine-6-size);
}
.content,
.hero-no-image,
.small-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  position: relative;
  gap: 1.5rem 0;
}
.hero-no-image,
.small-container {
  box-sizing: border-box;
}
.small-container {
  width: 70.25rem;
  border-radius: var(--br-base);
  padding: var(--padding-13xl);
  z-index: 1;
}
.hero-no-image {
  position: absolute;
  width: 100%;
  top: 5rem;
  right: -0.625rem;
  left: 0.625rem;
  overflow: hidden;
  padding: var(--padding-53xl) var(--padding-5xl);
  gap: 5rem 0;
  font-size: var(--caption-1-size);
}
.group-icon {
  width: 90rem;
  position: absolute;
  margin: 0 !important;
  top: 91.313rem;
  left: 0;
  height: 35.813rem;
  z-index: 0;
}
.actually-were-not-container,
.unlike-any-coding-container {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 3.5rem;
}
.actually-were-not-container {
  font-size: var(--healine-6-size);
  line-height: 2rem;
  font-weight: 600;
  color: var(--light-level-4);
}
.stack {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem 0;
  text-align: center;
  font-size: var(--healine-2-size);
}
.beachumbrella-icon {
  width: 1.513rem;
  position: relative;
  height: 1.75rem;
  overflow: hidden;
  flex-shrink: 0;
}
.icon {
  width: 3rem;
  border-radius: var(--br-81xl);
  background: linear-gradient(180deg, #606acb, #4f5abe);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.project-umbrella {
  flex: 1;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 2.5rem;
  font-weight: 600;
}
.row3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 1rem;
}
.stack-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.row-child,
.row-item {
  width: 2rem;
  position: relative;
  border-radius: 50%;
  height: 2rem;
  object-fit: cover;
}
.row-item {
  margin-left: -0.75rem;
}
.row6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.people-in-this {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 1.5rem;
  font-weight: 500;
  opacity: 0.5;
}
.row5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 0.75rem;
}
.row-child1 {
  width: 2rem;
  position: relative;
  height: 2rem;
}
.row4,
.stack2 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.row4 {
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--base-1-size);
  color: var(--light-level-3);
}
.stack2 {
  border-radius: var(--br-base);
  background-color: var(--dark-level-3);
  border: 1px solid var(--color-gray-400);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-13xl);
  gap: 2rem 0;
}
.icon1 {
  width: 3rem;
  position: relative;
  border-radius: var(--br-81xl);
  height: 3rem;
}
.wallet-02-icon {
  width: 1rem;
  position: relative;
  height: 1rem;
  overflow: hidden;
  flex-shrink: 0;
}
.icon2 {
  border-radius: var(--br-81xl);
  background: linear-gradient(180deg, #cbad60, #a78f51);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.stack-inner {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 0;
  flex-shrink: 0;
}
.row-child5,
.row-child6 {
  width: 2rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  height: 2rem;
}
.row-child6 {
  width: 2.25rem;
  border: 2px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  height: 2.25rem;
  margin-left: -0.75rem;
}
.img-child,
.stack1 {
  position: absolute;
  left: 0;
}
.stack1 {
  top: 0;
  width: 31rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.25rem 0;
}
.img-child {
  bottom: 0;
  background: linear-gradient(180deg, rgba(34, 34, 36, 0), #222224);
  width: 33rem;
  height: 12.125rem;
}
.img {
  align-self: stretch;
  position: relative;
  height: 33rem;
  overflow: hidden;
  flex-shrink: 0;
}
.develop-faster-without,
.reduce-development-time {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 2.5rem;
}
.develop-faster-without {
  font-size: var(--base-1-size);
  letter-spacing: -0.03em;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--light-level-4);
}
.card,
.stack5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.stack5 {
  align-self: stretch;
  align-items: flex-start;
  gap: 1rem 0;
  font-size: var(--healine-4-size);
  color: var(--light-level-2);
}
.card {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--dark-level-2);
  border: 1px solid var(--color-darkslategray-100);
  align-items: center;
  padding: var(--padding-21xl);
  gap: 2rem 0;
}
.row-child10,
.row-child9 {
  width: 1rem;
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  height: 1rem;
}
.row-child9 {
  background-color: var(--accent-red);
  border: 1px solid var(--color-darkslategray-100);
}
.row-child10 {
  background-color: var(--accent-yellow);
}
.row-child10,
.row-child11,
.row15 {
  border: 1px solid var(--color-darkslategray-100);
}
.row-child11 {
  width: 1rem;
  position: relative;
  border-radius: 50%;
  background-color: var(--brand-level-2);
  box-sizing: border-box;
  height: 1rem;
}
.row15 {
  align-self: stretch;
  border-radius: var(--br-base) var(--br-base) 0 0;
  background-color: var(--dark-level-3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-13xl);
  gap: 0 0.75rem;
}
.row-child12 {
  width: 3rem;
  position: relative;
  border-radius: 50%;
  height: 3rem;
  object-fit: cover;
}
.can-you-make {
  flex: 1;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 2rem;
  font-weight: 600;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.row16 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  gap: 0 1rem;
}
.frame-icon {
  width: 3rem;
  border-radius: var(--br-5xs);
  height: 3rem;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.sure-here-you {
  flex: 1;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 2.25rem;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame-parent7 {
  align-self: stretch;
  background-color: var(--dark-level-3);
  border-top: 1px solid var(--color-darkslategray-100);
  border-bottom: 1px solid var(--color-darkslategray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-13xl);
  gap: 0 1rem;
}
.div {
  position: relative;
  line-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame-wrapper,
.parent {
  display: flex;
  flex-direction: column;
}
.parent {
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem 0;
  opacity: 0.3;
}
.frame-wrapper {
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
  z-index: 0;
}
.numpy {
  color: var(--light-level-1);
}
.import-numpy-as-container {
  align-self: stretch;
}
.from-kerasmodels-import-container,
.from-werkzeugutils-import,
.import-numpy-as-container {
  position: relative;
  line-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--accent-red);
}
.from-werkzeugutils-import {
  align-self: stretch;
  color: var(--dark-level-3);
}
.span {
  color: var(--accent-red);
}
.flask {
  color: var(--brand-level-2);
}
.name- {
  color: var(--accent-purple);
}
.app-flask-name-container,
.approute {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.approute {
  color: var(--dark-level-2);
}
.indexhtml {
  color: var(--accent-yellow);
}
.return-render-templateindex-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-21xl);
}
.def-process {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  color: var(--dark-level-2);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.9;
}
.return-predict-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-21xl);
  color: var(--accent-red);
}
.avg2-requestformavg1 {
  flex: 1;
  position: relative;
  line-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.avg2-requestformavg1-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 var(--padding-41xl);
  color: var(--dark-level-2);
}
.approutepredict-methods-container {
  position: relative;
  line-height: 100%;
}
.f-requestfilesfile-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-41xl);
}
.import-numpy-as-np-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem 0;
}
.frame-wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}
.frame-child60 {
  width: 1rem;
  height: 1rem;
  z-index: 2;
}
.copy-06-parent,
.frame-parent8 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.copy-06-parent {
  margin: 0 !important;
  position: absolute;
  right: 0.625rem;
  bottom: 0.625rem;
  border-radius: 6px;
  background-color: var(--light-level-1);
  align-items: center;
  padding: var(--padding-7xs) var(--padding-xs) var(--padding-7xs)
    var(--padding-7xs);
  gap: 0 0.375rem;
  z-index: 3;
  color: var(--dark-level-2);
  font-family: var(--base-2);
}
.frame-parent8 {
  align-self: stretch;
  height: 32.5rem;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  position: relative;
  gap: 0 0.5rem;
}
.stack-inner1,
.stack7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.stack-inner1 {
  width: 33rem;
  background-color: var(--dark-level-3);
  padding: var(--padding-13xl);
  box-sizing: border-box;
  font-size: var(--base-2-size);
  font-family: var(--font-pt-mono);
}
.stack7 {
  align-self: stretch;
  font-size: var(--healine-5-size);
  font-family: var(--body-2);
}
.img-item,
.stack6 {
  position: absolute;
  left: 0;
  width: 31rem;
}
.stack6 {
  top: 0;
  border-radius: var(--br-base);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  height: 33rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem 0;
}
.img-item {
  bottom: 0;
  background: linear-gradient(180deg, rgba(34, 34, 36, 0), #222224);
  height: 12.125rem;
}
.img1 {
  align-self: stretch;
  position: relative;
  border-radius: 17px;
  height: 33rem;
  overflow: hidden;
  flex-shrink: 0;
}
.stack8 {
  height: 8.25rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem 0;
  font-size: var(--healine-4-size);
  color: var(--light-level-2);
}
.card1,
.row2,
.stack8 {
  align-self: stretch;
  display: flex;
}
.card1 {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--dark-level-2);
  border: 1px solid var(--color-darkslategray-100);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-21xl);
  gap: 2rem 0;
  font-size: var(--healine-6-size);
}
.row2 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0 1.5rem;
}
.saved-32-seconds {
  position: relative;
  font-size: var(--base-2-size);
  line-height: 150%;
  color: var(--color-darkgray);
}
.stack10 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem 0;
}
.button-primary1,
.row18 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button-primary1 {
  border-radius: var(--br-31xl);
  background: linear-gradient(180deg, #3e90f0, #1b6ecf);
  border: 1px solid var(--color-gray-500);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-13xl);
  font-size: var(--healine-6-size);
  color: var(--light-level-1);
}
.row18 {
  width: 31rem;
  border-radius: var(--br-base);
  background-color: var(--dark-level-3);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  justify-content: space-between;
  padding: var(--padding-13xl);
}
.scripts {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 2.5rem;
  font-weight: 600;
  color: var(--light-level-2);
}
.copy1,
.glittyapp123-script {
  position: relative;
  line-height: 150%;
}
.glittyapp123-script {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 0.8;
}
.copy1 {
  font-weight: 500;
}
.copy-06-group,
.row19 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.copy-06-group {
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  height: 2.313rem;
  padding: 0 var(--padding-xl) 0 var(--padding-xs);
  gap: 0 0.375rem;
  color: var(--color-gray-100);
}
.row19 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-gray-200);
  height: 3.313rem;
  padding: var(--padding-base) var(--padding-5xs) var(--padding-base)
    var(--padding-base);
  gap: 0 0.625rem;
  font-size: var(--base-2-size);
}
.production-script {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.stack12,
.stck {
  align-self: stretch;
  align-items: center;
}
.stack12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem 0;
  font-size: var(--caption-1-size);
}
.stck {
  gap: 1rem 0;
}
.card2,
.publish-to-staging-or-producti-parent,
.stack11,
.stck {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.stack11 {
  width: 31rem;
  border-radius: var(--br-base);
  background-color: var(--dark-level-3);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-13xl);
  color: var(--color-darkgray);
}
.card2,
.publish-to-staging-or-producti-parent {
  align-self: stretch;
}
.publish-to-staging-or-producti-parent {
  height: 8.25rem;
  align-items: flex-start;
  gap: 0.75rem 0;
  font-size: var(--healine-4-size);
  color: var(--light-level-1);
}
.card2 {
  flex: 1;
  border-radius: var(--br-5xl);
  background-color: var(--dark-level-2);
  border: 1px solid var(--color-darkslategray-100);
  align-items: center;
  padding: var(--padding-21xl);
  gap: 2rem 0;
}
.group-icon1 {
  width: 1.475rem;
  position: relative;
  height: 1.75rem;
}
.frame-parent11,
.group-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.group-wrapper {
  width: 3rem;
  border-radius: var(--br-81xl);
  background: linear-gradient(180deg, #606acb, #4f5abe);
  height: 3rem;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.frame-parent11 {
  width: 17.063rem;
  justify-content: flex-start;
  gap: 0 1rem;
}
.plus-icon {
  width: 1.5rem;
  position: relative;
  height: 1.475rem;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-13xl);
}
.create-vue-app {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chevrondown-icon {
  width: 1.5rem;
  position: relative;
  height: 0.906rem;
  overflow: hidden;
  flex-shrink: 0;
}
.row21 {
  align-self: stretch;
  border-top: 1px solid var(--color-gray-400);
  border-bottom: 1px solid var(--color-gray-400);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-13xl);
  gap: 0 0.625rem;
}
.frame-parent9,
.stack14 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stack14 {
  align-self: stretch;
  justify-content: center;
  font-size: var(--font-size-xl);
}
.frame-parent9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--dark-level-3);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 31rem;
  height: 33rem;
  justify-content: flex-start;
  padding: var(--padding-13xl) 0;
  gap: 2rem 0;
}
.row17,
.stack13 {
  align-self: stretch;
}
.stack13 {
  position: relative;
  background-color: #222224;
  height: 33rem;
  overflow: hidden;
  flex-shrink: 0;
}
.row17 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 1.5rem;
  color: var(--light-level-2);
}
.small-container1 {
  width: 77.5rem;
  border-radius: var(--br-base);
  padding: var(--padding-13xl);
  box-sizing: border-box;
  gap: 2.5rem 0;
  z-index: 1;
}
.section,
.small-container1,
.stack15 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.section {
  position: absolute;
  width: 100%;
  top: 55.688rem;
  right: 0;
  left: 0;
  overflow: hidden;
  padding: var(--padding-53xl) var(--padding-5xl);
  box-sizing: border-box;
  gap: 5rem 0;
}
.stack15 {
  align-self: stretch;
}
.black-marvin,
.dani-dev,
.excellent-conversation-very {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 2rem;
  font-weight: 600;
}
.black-marvin,
.dani-dev {
  letter-spacing: -0.02em;
  line-height: 1.5rem;
  font-weight: 500;
}
.dani-dev {
  font-size: var(--caption-1-size);
  letter-spacing: -0.03em;
  line-height: 1.25rem;
  color: var(--light-level-4);
}
.stack17 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem 0;
}
.row28 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 0.75rem;
  font-size: var(--base-2-size);
}
.card4,
.stack16,
.stack20,
.stack24 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card4 {
  align-self: stretch;
  border-radius: var(--br-5xl) var(--br-5xl) var(--br-5xl) var(--br-9xs);
  background-color: var(--dark-level-2);
  border: 1px solid var(--color-darkslategray-100);
  justify-content: flex-start;
  padding: var(--padding-13xl);
  gap: 2rem 0;
}
.stack16,
.stack20,
.stack24 {
  flex: 1;
  justify-content: center;
  gap: 1.5rem 0;
  z-index: 0;
}
.stack20,
.stack24 {
  z-index: 1;
}
.stack24 {
  z-index: 2;
}
.row-child22 {
  width: 73.5rem;
  position: absolute;
  margin: 0 !important;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(20, 23, 24, 0), #141718);
  height: 21.75rem;
  z-index: 3;
}
.row27 {
  align-self: stretch;
  height: 48.25rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  gap: 0 1.5rem;
  text-align: left;
  font-size: var(--healine-6-size);
}
.section1,
.small-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.small-container2 {
  width: 77.5rem;
  border-radius: var(--br-base);
  padding: var(--padding-13xl);
  gap: 2.5rem 0;
}
.section1 {
  position: absolute;
  width: 100%;
  top: 183.438rem;
  right: 0;
  left: 0;
  overflow: hidden;
  padding: var(--padding-53xl) var(--padding-5xl);
  text-align: center;
  font-size: var(--healine-2-size);
}
.monthly {
  position: relative;
  letter-spacing: -0.03em;
  line-height: 2rem;
  font-weight: 600;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.monthly-wrapper {
  border-radius: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
}
.annually-wrapper {
  border-radius: var(--br-31xl);
  background: linear-gradient(180deg, #3e90f0, #1b6ecf);
  border: 1px solid var(--color-gray-500);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-13xl);
}
.annually-wrapper,
.frame-parent12,
.stack28 {
  display: flex;
  align-items: center;
}
.frame-parent12 {
  border-radius: var(--br-31xl);
  background-color: var(--dark-level-2);
  flex-direction: row;
  justify-content: center;
  padding: 0.25rem;
  font-size: var(--healine-6-size);
}
.stack28 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem 0;
}
.free-for-everyone,
.playground {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 1.5rem;
}
.free-for-everyone {
  font-size: var(--healine-4-size);
  letter-spacing: -0.02em;
  line-height: 2.5rem;
  font-family: var(--base-2);
  color: var(--light-level-1);
}
.playground-parent {
  align-self: stretch;
  height: 6.313rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem 0;
  text-align: center;
  color: var(--light-level-4);
  font-family: var(--body-2);
}
.checkmark-icon {
  width: 0.994rem;
  position: relative;
  height: 1rem;
  overflow: hidden;
  flex-shrink: 0;
}
.unlimited-members {
  width: 14.313rem;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 1.5rem;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.checkmark-parent,
.frame-parent13 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 0.75rem;
}
.frame-parent13 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem 0;
  font-size: var(--base-1-size);
}
.button-secondary1,
.card13 {
  display: flex;
  align-items: center;
}
.button-secondary1 {
  align-self: stretch;
  border-radius: var(--br-31xl);
  border: 1px solid var(--light-level-1);
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-13xl);
  font-size: var(--healine-6-size);
}
.card13 {
  flex: 1;
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #202323, #141718);
  border: 1px solid var(--color-gray-400);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-21xl);
  gap: 2rem 0;
}
.month,
.workspace {
  align-self: stretch;
  position: relative;
}
.workspace {
  letter-spacing: -0.01em;
  line-height: 1.5rem;
  font-family: var(--body-2);
}
.month {
  font-size: var(--healine-4-size);
  letter-spacing: -0.02em;
  line-height: 2.5rem;
  color: var(--light-level-1);
}
.person2-icon {
  width: 1.75rem;
  position: relative;
  height: 1.225rem;
  overflow: hidden;
  flex-shrink: 0;
}
.best-for-startups {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 1.5rem;
  font-weight: 500;
}
.person2-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 0.75rem;
  font-size: var(--base-2-size);
}
.workspace-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem 0;
  text-align: center;
  color: var(--light-level-4);
}
.unlimited-collaboration-projec {
  width: 17.563rem;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 1.5rem;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.button-primary2 {
  align-self: stretch;
  border-radius: var(--br-31xl);
  background-color: var(--brand-level-1);
  border: 1px solid var(--color-gray-500);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-13xl);
  font-size: var(--healine-6-size);
}
.card14 {
  flex: 1;
  border-radius: var(--br-5xl);
  background: linear-gradient(
    180deg,
    rgba(96, 106, 203, 0.2),
    rgba(79, 90, 190, 0.05)
  );
  border: 1px solid #388aea;
  flex-direction: column;
  padding: var(--padding-21xl);
  gap: 2rem 0;
}
.card14,
.row37,
.section2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.row37 {
  align-self: stretch;
  flex-direction: row;
  gap: 0 1.5rem;
  text-align: left;
  font-size: var(--body-2-size);
}
.section2 {
  position: absolute;
  width: 100%;
  top: 254.188rem;
  right: 0;
  left: 0;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-53xl) var(--padding-5xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--healine-2-size);
}
.features-like-collaboration-container {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 3.5rem;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0.8));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.whether-youre-part {
  align-self: stretch;
  position: relative;
  font-size: var(--body-2-size);
  letter-spacing: -0.01em;
  line-height: 1.5rem;
  font-family: var(--body-2);
}
.row38 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 0.625rem;
  font-size: var(--healine-6-size);
  color: var(--light-level-1);
}
.features-like-collaboration-c-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem 0;
}
.small-container4,
.stack29 {
  display: flex;
  flex-direction: column;
}
.stack29 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
}
.small-container4 {
  width: 77.5rem;
  border-radius: var(--br-base);
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  z-index: 0;
}
.img-child1,
.img3 {
  margin: 0 !important;
  position: absolute;
}
.img-child1 {
  width: 63.625rem;
  top: calc(50% - 509px);
  left: calc(50% - 509px);
  border-radius: 50%;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(20, 23, 24, 0),
    #141718 46.59%
  );
  filter: blur(216.88px);
  height: 63.625rem;
  z-index: 8;
}
.img3 {
  top: calc(50% - 384px);
  right: -0.437rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.5;
  z-index: 1;
}
.img3,
.logo1 {
  overflow: hidden;
}
.img-logo,
.section3 {
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.img-logo {
  width: 5.425rem;
  margin: 0 !important;
  top: calc(50% - 125px);
  left: 63.438rem;
  border-radius: var(--br-5xs);
  height: 5.425rem;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-xs);
  background-image: url(./public/img--logo@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
}
.section3 {
  width: 100%;
  top: 310.188rem;
  right: 0;
  left: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-53xl) var(--padding-5xl);
  gap: 5rem 0;
  font-size: var(--healine-2-size);
  color: var(--color-white);
}
.title {
  width: 35rem;
  position: relative;
  letter-spacing: -0.03em;
  line-height: 2rem;
  font-weight: 600;
  display: inline-block;
}
.logo-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.content1,
.logo-wrapper,
.logos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-wrapper {
  flex-direction: column;
}
.content1,
.logos {
  align-self: stretch;
}
.logos {
  flex-direction: row;
  gap: 0 3rem;
}
.content1 {
  flex-direction: column;
}
.logo-title,
.logo-wrapper6 {
  display: flex;
  justify-content: flex-start;
}
.logo-title {
  position: absolute;
  top: 41.5rem;
  left: 0;
  width: 90rem;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-45xl) var(--padding-5xl);
  box-sizing: border-box;
  gap: 2rem 0;
  text-align: center;
  font-size: var(--healine-6-size);
}
.logo-wrapper6 {
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-base) 0 0;
}
.column,
.content2,
.footer-links {
  flex-direction: column;
  justify-content: flex-start;
}
.column {
  width: 20rem;
  display: flex;
  align-items: flex-start;
}
.content2,
.footer-links {
  align-self: stretch;
}
.footer-links {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem 0;
  color: var(--light-level-1);
}
.content2 {
  gap: 1rem 0;
}
.column1,
.columns,
.content2,
.small-columns {
  display: flex;
  align-items: flex-start;
}
.column1 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.columns,
.small-columns {
  flex-direction: row;
}
.small-columns {
  width: 37.5rem;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  gap: 0 2rem;
  font-size: var(--base-2-size);
  color: var(--light-level-4);
}
.columns {
  width: 77.5rem;
  justify-content: space-between;
}
.text {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.copyright {
  width: 77.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--base-2-size);
}
.footer,
.web-page {
  width: 100%;
  background-color: var(--dark-level-3);
  overflow: hidden;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--dark-level-2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-45xl) var(--padding-5xl) var(--padding-5xs);
  gap: 2.5rem 0;
}
.web-page {
  position: relative;
  height: 359rem;
  text-align: left;
  font-size: var(--healine-5-size);
  color: var(--light-level-1);
  font-family: var(--base-2);
}
